<section class="benefits" aria-labelledby="benefits-heading">
  <h2 id="benefits-heading" class="benefits__title font-dewi">Мы предлагаем</h2>
  <div class="benefits__cards">
    <div class="benefits__card benefits__card--icon-diamond orange">
      <h3 class="benefits__card-title">Безупречное качество</h3>
      <p class="benefits__card-text">
        Мы гарантируем высокое качество материалов и работ, клиентоориентированный подход,
        ответственное отношение компании к реализации вашего проекта
      </p>
    </div>
    <div class="benefits__card benefits__card--icon-wallet black">
      <h3 class="benefits__card-title">Справедливая цена</h3>
      <p class="benefits__card-text">
        Стоимость проводимых работ формируется с учетом сложности реализации проекта, расхода
        времени и ресурсов компании
      </p>
    </div>
    <div class="benefits__card benefits__card--icon-user orange">
      <h3 class="benefits__card-title">Квалифици – рованные сотрудники</h3>
      <p class="benefits__card-text">
        Опытные сотрудники изготавливают стеклянные перегородки на собственном производстве компании
        с использованием европейского оборудования и современных технологий
      </p>
    </div>
    <div class="benefits__card benefits__card--icon-sertificate black">
      <h3 class="benefits__card-title garant">Гарантии и сервис</h3>
      <p class="benefits__card-subtext">Компания предоставляет гарантии:</p>
      <div class="benefits__card-years">
        <div class="benefits__card-year-item">
          <p class="benefits__card-year">3 года</p>
          <p class="benefits__card-text">на стекло</p>
        </div>
        <div class="benefits__card-year-item">
          <p class="benefits__card-year">1 год</p>
          <p class="benefits__card-text">на фурнитуру</p>
        </div>
        <div class="benefits__card-year-item">
          <p class="benefits__card-year">3 года</p>
          <p class="benefits__card-text">бесплатного обслуживания</p>
        </div>
      </div>
    </div>
  </div>
</section>
