.production {
  margin-bottom: calc(2.5rem + 1.5rem * var(--ease-wide) + 0.75rem * var(--wide-t));
}

.benefits {
  margin-bottom: calc(2.5rem + 1.5rem * var(--ease-wide) + 0.75rem * var(--wide-t));
}

.main-products {
  margin-bottom: calc(2.75rem + 4.125rem * var(--ease-wide) + 1rem * var(--wide-t));
}

.advantages {
  margin-bottom: calc(2.5rem + 1.5rem * var(--ease-wide) + 0.75rem * var(--wide-t));
}

.projects {
  margin-bottom: calc(2.5rem + 1.5rem * var(--ease-wide) + 0.75rem * var(--wide-t));
}

.contacts {
  margin-bottom: calc(2.5rem + 1.5rem * var(--ease-wide) + 0.75rem * var(--wide-t));
}
